cycler==0.11.0
fonttools==4.33.3
joblib==1.1.0
kiwisolver==1.4.2
matplotlib==3.5.2
mypy==0.931
mypy-extensions==0.4.3
numpy==1.22.3
packaging==21.3
pandas==1.4.1
patsy==0.5.2
Pillow==9.1.0
pip==22.0.3
plotly==5.7.0
plotly-express==0.4.1
pyparsing==3.0.8
python-dateutil==2.8.2
pytz==2021.3
scikit-learn==1.0.2
scipy==1.8.0
seaborn==0.11.2
setuptools==58.1.0
six==1.16.0
statsmodels==0.13.2
tenacity==8.0.1
threadpoolctl==3.1.0
tomli==2.0.1
typing_extensions==4.1.1
